ProgramMethod=Test
;ProgramMethod=Stress
;ProgramMethod=Randomize
NumberEdgeSwaps=10
NumberGraphsGenerated=2
GraphFilename=st_louis_powergrid.csv
OutputDirectory=GeneratedGraphs
RandomizeNodes=0
MinNodeProduction=0
MaxNodeProduction=0
MinNodeConsumption=0
MaxNodeConsumption=0
PowerSuppliedThreshold=0.9
PercentageOfEdgesToCut=0.5